<link rel="stylesheet" href="/css/navbar.css" />
<div class="navbar">
	<nav>
		<div class="nav_main">
			<div class="nav_left">
				<a href="/" class="brand_name">InfyFix</a>
				<a href="/about" class="nav--link">About Us</a>
			</div>
			<div class="nav_right">
				<button class="button_get"><a href="/contact">Get Quote</a></button>
			</div>
		</div>
	</nav>
</div>
