<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>About</title>

		<link rel="stylesheet" href="/css/about.css" />
		<%- include('./util/header.ejs') %>
		<link rel="stylesheet" href="/css/global.css">
	</head>
	<body>
		<%- include('./util/navbar.ejs') %>
		<div class="container col-xxl-8 px-4 py-5">
    <div class="row  g-5 py-5 align-items-center">
      <div class="col-10 col-sm-8 col-lg-6">
		 <h1 class="display-5 fw-bold lh-1  mission-heading mision-text mb-5 ">Our Mission</h1>
        <img src="/images/aboutusimg.jpeg" class="d-block mx-lg-auto img-fluid about-img" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6 text-margin">
        <h1 class="display-5 fw-bold lh-1 mb-3 main-about-head  mb-3">Driving growth and success through digital innovation at InfyFix.</h1>
        <p class="about-content py-3">At InfyFix, our vision is to deliver innovative digital solutions in marketing, UI/UX design, and website development. We aim to empower businesses with tailored, user-centric strategies that drive growth, enhance digital presence, and ensure long-term success in a competitive market.</p>
     </p>
        
      </div>
    </div>
  </div>
  <div class="container">
	<div class="company-stats">
			<hr>
		<div class="stats row align-items-center  justify-content-center py-5">
			<div class="col-md-4">
				<h3 class="text-center">500+</h3>
				<p class="text-center">Clients</p>

			</div>
						<div class="col-md-4">
				<h3 class="text-center">1M+</h3>
				<p class="text-center">Followers</p>

			</div>

						<div class="col-md-4">
				<h3 class="text-center">1000+</h3>
				<p class="text-center">Projects Delivered</p>

			</div>
					
		</div>
		<hr>
	</div>

  </div>
 
  <div class="team py-5">
        <div class="d-flex justify-content-around align-items-center team-text">
            <h2> Our Team </h2>
           <div class="row team d-flex align-items-center team2">
      <div class="col-lg-2">
        <img src="/images/ayush.png" alt="" class="img-fluid mb-3" >
        <h3 class="name-title text-center ">Ayush</h3>
        <p class="roles text-center">Team Leader</p>
       
      </div>
      <div class="col-lg-2">
         <img src="/images/aditya.png" alt="" class="img-fluid mb-3" >
         <h3 class="name-title  text-center ">Aditya</h3>
           <p class="roles text-center ">Team Member</p>
        
      </div>
      <div class="col-lg-2">
        <img src="/images/kirti.png" alt="" class="img-fluid mb-3" >
        <h3 class="name-title text-center">Kirti</h3>
        <p class="roles text-center ">Team Member</p>
        
      </div>
      <div class="col-lg-2">
       <img src="/images/satyam.png" alt="" class="img-fluid mb-3" >
       <h3 class="name-title text-center">Satyam</h3>
       <p class="roles text-center ">Team Member</p>
        
        
      </div>
      <div class="col-lg-2">
         <img src="/images/bhadu.png" alt="" class="img-fluid mb-3" >
         <h3 class="name-title text-center">Rachit</h3>
         <p class="roles text-center">Team Member</p>
        
      </div>
      <div class="col-lg-2">
       <img src="/images/mehar.png" alt="" class="img-fluid mb-3" >
       <h3 class="name-title text-center">Mehar</h3>
       <p class="roles text-center">Team Member</p>
        
       
      </div>
    </div>
        </div>

    </div>
 
		 <%- include('./util/footer.ejs') %>
	</body>
</html>
