<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>InfyFix</title>
		<%- include('./util/header.ejs') %>
		<link rel="stylesheet" href="/css/index.css" />
	</head>
	<body>
		<%- include('./util/navbar.ejs') %>

    <div class="hero-container">
      <div class="hero-section">
        <div class="test-content">
          <h1 class="main-heading">
            ALL SOLUTIONS AT <span class="color-text">ONE PLACE</span>
          </h1>
          <p class="inter-content">
            <span class="color-text">InfyFix</span> offers all-in-one solutions
            for web development,UI/UX, mobile development, <br />
            and digital marketing. Elevate your brand's presence with tailored
            strategies that <br />drive results across every platform.
          </p>
          <button class="button_get"><a href="/contact">Get Quote</a></button>
          <button class="second-button"><a href="/services" class="know_more">OUR SERVICES</a></button>
        </div>
        <img class="hero-image" src="/images/hero.gif" alt="" />
      </div>
    </div>
  
    <div class="available">
		<div class="avail">
      <div class="text">
      <div class="avail-text">
        <h1 class="heading">Available Services</h1>
      <div class="services" data-aos="fade-up"
      data-aos-duration="1000">
        <div class="image-hero">
          <img class="image-sec" src="/images/socialMedia.svg" alt="" />
        </div>
        <div class="hero-first">
          <h1 class="hero-heading">Social Media Marketing</h1>
          <p class="inner-content">
            Social media are online platforms where users share content and engage with others.It enables businesses to connect with audiences, promote brands, and foster engagement through posts, ads, and interactions.
          </p>
          <div class="tick-check">
            <div class="tick">
              <img class="tick-image" src="/images/tick.svg" alt="" />
              <p class="points">Consistently post engaging, high-quality content to attract and retain followers.</p>
            </div>
            <div class="tick">
              <img class="tick-image" src="/images/tick.svg" alt="" />
              <p class="points">Use targeted ads and analytics to reach and understand your audience.</p>
            </div>
            <div class="tick">
              <img class="tick-image" src="/images/tick.svg" alt="" />
              <p class="points">Collaborate with influencers to expand brand visibility and credibility.</p>
            </div>
          </div>
          <button class="button_get"><a href="/contact">Get Quote</a></button>
          <button class="second-button"><a href="/services" class="know_more">Know More</a></button>
        </div>
      </div>
    </div>

    <div class="services services--reverse" data-aos="fade-up"
    data-aos-duration="1000">
      <div class="image-hero">
        <img class="image-sec" src="/images/webdev.svg" alt="" />
      </div>
      <div class="hero-first">
        <h1 class="hero-heading">Web development</h1>
        <p class="inner-content">
          Web development involves building and maintaining websites, focusing on both front-end design and back-end functionality. It ensures sites are user-friendly, responsive, and secure across all devices.
        </p>
        <div class="tick-check">
          <div class="tick">
            <img class="tick-image" src="/images/tick.svg" alt="" />
            <p class="points">Focus on responsive design to ensure seamless experiences across all devices.</p>
          </div>
          <div class="tick">
            <img class="tick-image" src="/images/tick.svg" alt="" />
            <p class="points">Prioritize fast loading times and optimized performance for better user retention.</p>
          </div>
          <div class="tick">
            <img class="tick-image" src="/images/tick.svg" alt="" />
            <p class="points">Implement secure coding practices to protect user data and ensure site security.</p>
          </div>
        </div>
        <button class="button_get"><a href="/contact">Get Quote</a></button>
        <button class="second-button"><a href="/services" class="know_more">Know More</a></button>
      </div>
    </div>
    <div class="services" data-aos="fade-up"
    data-aos-duration="1000">
      <div class="image-hero">
        <img class="image-sec" src="/images/desig.svg" alt="" />
      </div>
      <div class="hero-first">
        <h1 class="hero-heading">UI/UX</h1>
        <p class="inner-content">
          UI/UX design aims to create visually appealing and user-friendly interfaces that enhance overall user satisfaction.It combines aesthetics (UI) with functionality and usability (UX) to ensure a seamless and effective user experience.
          </p>
        <div class="tick-check">
          <div class="tick">
            <img class="tick-image" src="/images/tick.svg" alt="" />
            <p class="points">Create intuitive and visually appealing interfaces that enhance user satisfaction.</p>
          </div>
          <div class="tick">
            <img class="tick-image" src="/images/tick.svg" alt="" />
            <p class="points">Conduct user research and testing to understand and meet user needs effectively.</p>
          </div>
          <div class="tick">
            <img class="tick-image" src="/images/tick.svg" alt="" />
            <p class="points">Ensure consistent and accessible design across all platforms for a cohesive experience.</p>
          </div>
        </div>
        <button class="button_get"><a href="/contact">Get Quote</a></button>
        <button class="second-button"><a href="/services" class="know_more">Know More</a></button>
      </div>
    </div>
  
  </div>

  <section class="testimonials" data-aos="fade-up"
  data-aos-duration="1000">
        <h1 class="testi">Testimonials</h1>

        <div class="testimonial-container">
			<div class="test">
           
            <div class="testimonial-card">
                <img src="/images/ayush.png" alt="Ayush Chugh">
                <h2>Ayush Chugh</h2>
                <div class="rating">
                    <img src="/images/3-star.svg" alt="">
                </div>
                <p>Lorem ipsum dolor sit amet consectetur
					<br> adipisicing elit. Maxime mollitia, 
					<br>molestias quas vel sint commodi.</p>
            </div>
   
            <div class="testimonial-card">
                <img src="/images/aditya.png" alt="Ayush Chugh">
                <h2>Aditya Pant</h2>
                <div class="rating">
                    <img src="/images/5-star.svg" alt="">
                </div>
                <p>Lorem ipsum dolor sit amet consectetur
					<br> adipisicing elit. Maxime mollitia,
					<br> molestias quas vel sint commodi.</p>
            </div>
			
         
            <div class="testimonial-card">
                <img src="/images/kirti.png" alt="Ayush Chugh">
                <h2>Kirti</h2>
                <div class="rating">
                    <img src="/images/4-star.svg" alt="">
                </div>
                <p>Lorem ipsum dolor sit amet consectetur
					<br> adipisicing elit. Maxime mollitia,
					br molestias quas vel sint commodi.</p>
            </div>
        </div></div></div>
     
    </section>
   

 

    <%- include('./util/footer.ejs') %>
  </body>
</html>
