<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services</title>
    <!-- external css link -->
    <%- include('./util/header.ejs') %>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/services.css" />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <%- include('./util/navbar.ejs') %>

    
    <!-- section1 -->
    <section class="S1">
      <p class="S1-heading">Choose a <span class="S1-head">Package</span></p>
      <p class="S1-para">You can choose one of the following Packages</p>
    </section>

    <!-- section2 -->
    <section class="S2">
      <div class="S2-H">
        <p class="S2-heading"><span class="S2-head">Web</span> Development</p>
      </div>
      <div class="S2-cards">
        <!-- card1 -->
        <div class="card">
          <img
            src="/images/services09.png"
            class="card-img card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-head1">Starter</p>
            <p class="card-head2">Web Presence Pack</p>
            <ul class="card-list">
              <li class="card-listItem">
                <img
                  src="/images/Vector.svg"
                  alt=""
                  class="card-bullet"
                />Custom design and development
              </li>
              <li class="card-listItem">
                <img
                  src="/images/Vector.svg"
                  alt=""
                  class="card-bullet"
                />Responsive layout for mobile and desktop
              </li>
              <li class="card-listItem">
                <img src="/images/Vector.svg" alt="" class="card-bullet" />Basic
                SEO optimization
              </li>
              <li class="card-listItem">
                <img
                  src="/images/Vector.svg"
                  alt=""
                  class="card-bullet"
                />Contact form integration
              </li>
              <li class="card-listItem">
                <img
                  src="/images/Vector.svg"
                  alt=""
                  class="card-bullet"
                />Social media integration
              </li>
            </ul>
          </div>
          <!-- <a href="#" class="button_get">Go somewhere</a> -->
          <button class="card-button button_get">BOOK NOW</button>
        </div>

        <!-- card2 -->
        <div class="card">
          <img
            src="/images/services07.png"
            class="card-img card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-head1">Growth</p>
            <p class="card-head2">Business Pack</p>
            <ul class="card-list">
              <li class="card-listItem">
                <img src="/images/Vector.svg" alt="" class="card-bullet" />Up to
                10 pages with a custom design
              </li>
              <li class="card-listItem">
                <img
                  src="/images/Vector.svg"
                  alt=""
                  class="card-bullet"
                />Enhanced SEO optimization
              </li>
              <li class="card-listItem">
                <img src="/images/Vector.svg" alt="" class="card-bullet" />Blog
                or news section
              </li>
              <li class="card-listItem">
                <img
                  src="/images/Vector.svg"
                  alt=""
                  class="card-bullet"
                />E-commerce integration (up to 50 products)
              </li>
              <li class="card-listItem">
                <img src="/images/Vector.svg" alt="" class="card-bullet" />3
                months of website support and updates
              </li>
            </ul>
          </div>
          <!-- <a href="#" class="button_get">Go somewhere</a> -->
          <button class="card-button button_get">BOOK NOW</button>
        </div>

        <!-- card3 -->
        <div class="card">
          <img
            src="/images/services05.png"
            class="card-img card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-head1">Enterprise</p>
            <p class="card-head2">Solutions Pack</p>
            <ul class="card-list">
              <li class="card-listItem">
                <img
                  src="/images/Vector.svg"
                  alt=""
                  class="card-bullet"
                />Integration with third-party APIs
              </li>
              <li class="card-listItem">
                <img
                  src="/images/Vector.svg"
                  alt=""
                  class="card-bullet"
                />fullly custom-designed website with unlimited pages
              </li>
              <li class="card-listItem">
                <img
                  src="/images/Vector.svg"
                  alt=""
                  class="card-bullet"
                />Advanced CMS integration and custom backend
              </li>
              <li class="card-listItem">
                <img
                  src="/images/Vector.svg"
                  alt=""
                  class="card-bullet"
                />E-commerce integration with unlimited products
              </li>
              <li class="card-listItem">
                <img
                  src="/images/Vector.svg"
                  alt=""
                  class="card-bullet"
                />Advanced SEO, analytics, and performance optimization
              </li>
            </ul>
          </div>
          <!-- <a href="#" class="button_get">Go somewhere</a> -->
          <button class="card-button button_get">BOOK NOW</button>
        </div>
      </div>
    </section>

    <!-- section3 -->
    <section class="S3" data-aos="fade-up" data-aos-duration="1000">
      <div class="S2-H">
        <p class="S2-heading"><span class="S2-head">UI</span>/UX</p>
      </div>
      <div class="S2-cards">
        <!-- card1 -->
        <div class="card">
          <img
            src="/images/services08.png"
            class="card-img card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-head1">Starterup</p>
            <p class="card-head2">UX essentials</p>
            <ul class="card-list">
              <li class="card-listItem">
                <img src="/images/Vector.svg" alt="" class="card-bullet" />Up to
                5 screen designs or web pages
              </li>
              <li class="card-listItem">
                <img src="/images/Vector.svg" alt="" class="card-bullet" />User
                flow and wireframing
              </li>
              <li class="card-listItem">
                <img src="/images/Vector.svg" alt="" class="card-bullet" />Basic
                competitor research and design benchmarking
              </li>
              <li class="card-listItem">
                <img src="/images/Vector.svg" alt="" class="card-bullet" />UI/UX
                design consultation
              </li>
              <li class="card-listItem">
                <img
                  src="/images/Vector.svg"
                  alt=""
                  class="card-bullet"
                />Prototype creation and feedback loop
              </li>
            </ul>
          </div>
          <!-- <a href="#" class="button_get">Go somewhere</a> -->
          <button class="card-button button_get">BOOK NOW</button>
        </div>

        <!-- card2 -->
        <div class="card">
          <img
            src="/images/services01.png"
            class="card-img card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-head1">Growth</p>
            <p class="card-head2">UI/UX pro Pack</p>
            <ul class="card-list">
              <li class="card-listItem">
                <img src="/images/Vector.svg" alt="" class="card-bullet" />Up to
                10 pages with a custom design
              </li>
              <li class="card-listItem">
                <img src="/images/Vector.svg" alt="" class="card-bullet" />User
                personas and detailed research
              </li>
              <li class="card-listItem">
                <img
                  src="/images/Vector.svg"
                  alt=""
                  class="card-bullet"
                />High-fidelity prototypes
              </li>
              <li class="card-listItem">
                <img
                  src="/images/Vector.svg"
                  alt=""
                  class="card-bullet"
                />Interaction design and animations
              </li>
              <li class="card-listItem">
                <img
                  src="/images/Vector.svg"
                  alt=""
                  class="card-bullet"
                />Usability testing and iteration
              </li>
            </ul>
          </div>
          <!-- <a href="#" class="button_get">Go somewhere</a> -->
          <button class="card-button button_get">BOOK NOW</button>
        </div>

        <!-- card3 -->
        <div class="card">
          <img
            src="/images/services02.png"
            class="card-img card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-head1">Enterprise</p>
            <p class="card-head2">UX excellence</p>
            <ul class="card-list">
              <li class="card-listItem">
                <img
                  src="/images/Vector.svg"
                  alt=""
                  class="card-bullet"
                />Unlimited screen designs or web pages
              </li>
              <li class="card-listItem">
                <img
                  src="/images/Vector.svg"
                  alt=""
                  class="card-bullet"
                />In-depth user research, personas, and journey mapping
              </li>
              <li class="card-listItem">
                <img
                  src="/images/Vector.svg"
                  alt=""
                  class="card-bullet"
                />High-fidelity prototypes with micro-interactions
              </li>
              <li class="card-listItem">
                <img
                  src="/images/Vector.svg"
                  alt=""
                  class="card-bullet"
                />Advanced usability testing and A/B testing
              </li>
              <li class="card-listItem">
                <img
                  src="/images/Vector.svg"
                  alt=""
                  class="card-bullet"
                />Ongoing UX audits and optimization
              </li>
            </ul>
          </div>
          <!-- <a href="#" class="button_get">Go somewhere</a> -->
          <button class="card-button button_get">BOOK NOW</button>
        </div>
      </div>
    </section>

    <!-- section4 -->
    <section class="S4" data-aos="fade-up" data-aos-duration="1000">
      <div class="S2-H">
        <p class="S2-heading">
          <span class="S2-head">Digital</span> <br />Marketing Plans
        </p>
      </div>
      <div class="S2-cards">
        <!-- card1 -->
        <div class="card">
          <img
            src="/images/services06.png"
            class="card-img card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-head1">Starter</p>
            <p class="card-head2">Digital Boost</p>
            <ul class="card-list">
              <li class="card-listItem">
                <img
                  src="/images/Vector.svg"
                  alt=""
                  class="card-bullet"
                />Social media account setup and management (up to 2 platforms)
              </li>
              <li class="card-listItem">
                <img
                  src="/images/Vector.svg"
                  alt=""
                  class="card-bullet"
                />Monthly content creation (5 posts, 2 blogs)
              </li>
              <li class="card-listItem">
                <img src="/images/Vector.svg" alt="" class="card-bullet" />Basic
                Google Ads campaign setup
              </li>
              <li class="card-listItem">
                <img src="/images/Vector.svg" alt="" class="card-bullet" />Basic
                SEO optimization for 5 pages
              </li>
              <li class="card-listItem">
                <img
                  src="/images/Vector.svg"
                  alt=""
                  class="card-bullet"
                />Monthly performance report and analytics
              </li>
            </ul>
          </div>
          <!-- <a href="#" class="button_get">Go somewhere</a> -->
          <button class="card-button button_get">BOOK NOW</button>
        </div>

        <!-- card2 -->
        <div class="card">
          <img
            src="/images/services04.png"
            class="card-img card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-head1">Growth</p>
            <p class="card-head2">Marketing Accelerator</p>
            <ul class="card-list">
              <li class="card-listItem">
                <img
                  src="/images/Vector.svg"
                  alt=""
                  class="card-bullet"
                />Social media management (up to 4 platforms)
              </li>
              <li class="card-listItem">
                <img src="/images/Vector.svg" alt="" class="card-bullet" />Full
                website SEO optimization
              </li>
              <li class="card-listItem">
                <img
                  src="/images/Vector.svg"
                  alt=""
                  class="card-bullet"
                />Content marketing (8 posts, 4 blogs)
              </li>
              <li class="card-listItem">
                <img src="/images/Vector.svg" alt="" class="card-bullet" />Email
                marketing campaigns (2 campaigns/month)
              </li>
              <li class="card-listItem">
                <img src="/images/Vector.svg" alt="" class="card-bullet" /> Ads
                campaign management
              </li>
              <li class="card-listItem">
                <img src="/images/Vector.svg" alt="" class="card-bullet" />
                Monthly in-depth analytics and performance reporting
              </li>
            </ul>
          </div>
          <!-- <a href="#" class="button_get">Go somewhere</a> -->
          <button class="card-button button_get">BOOK NOW</button>
        </div>

        <!-- card3 -->
        <div class="card">
          <img
            src="/images/services03.png"
            class="card-img card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-head1">Enterprise</p>
            <p class="card-head2">Digital Dominance</p>
            <ul class="card-list">
              <li class="card-listItem">
                <img
                  src="/images/Vector.svg"
                  alt=""
                  class="card-bullet"
                />Advanced social media management (unlimited platforms)
              </li>
              <li class="card-listItem">
                <img src="/images/Vector.svg" alt="" class="card-bullet" />SEO
                optimization for large-scale websites (50+ pages)
              </li>
              <li class="card-listItem">
                <img
                  src="/images/Vector.svg"
                  alt=""
                  class="card-bullet"
                />Advanced content marketing strategy (12 posts, 6 blogs)
              </li>
              <li class="card-listItem">
                <img
                  src="/images/Vector.svg"
                  alt=""
                  class="card-bullet"
                />Multi-channel advertising (Google, Facebook, Linkedin,
                YouTube)
              </li>
              <li class="card-listItem">
                <img
                  src="/images/Vector.svg"
                  alt=""
                  class="card-bullet"
                />Weekly performance reports and custom analytics dashboards
              </li>
            </ul>
          </div>
          <!-- <a href="#" class="button_get">Go somewhere</a> -->
          <button class="card-button button_get">BOOK NOW</button>
        </div>
      </div>
    </section>

    <%- include('./util/footer.ejs') %>
  </body>
</html>
